<h1><%= @artist.name %></h1>
<p>List of songs: </p>
<% @artist.songs.each do |song| %>
  <ul><%= song.name %></ul>
<% end %>
<p>Birth: <%= @artist.birth %></p>
<p>Gender: <%= @artist.gender %></p>
<p>Photo's:</p>
<% @artist.photos.each do |photo| %>
  <%= image_tag photo.image %>
<% end %>
