<h1>
  <%= link_to "[Delete?!]", @artist, method: :delete, data: { confirm: "Are you sure?"} %>
  &emsp; 
  <%= @artist.name %>
</h1>

<p>Add new song:
  <%= link_to "[Add]", new_artist_song_path(@artist) %>
</p>
<!-- add list songs -->
<p>List of songs: </p>
<% @artist.songs.each do |song| %>
  <ul><%= link_to '[Delete?]', [song.artist, song],method: :delete, data: {confirm: "Are you sure?"} %> &emsp; <%= song.name %></ul>
<% end %>
<!-- add birth, gender -->
<p>Birth: <%= @artist.birth %></p>
<p>Gender: <%= @artist.gender %></p>
<!-- add photo's with ImageUploader -->
<p>Photo's:</p>
<% @artist.photos.each do |photo| %>
  <%= image_tag photo.image %>
<% end %>
